body {
  background-color: #f6f6f6;
}

.comm-left {
  /* background-color: #fff; */
  background-color:rgba(255,255,255,0.5);
  padding: 0.3rem;
  border-radius: 0.3rem;
  border: 1px solid #eee;
  margin-bottom: 1rem;
}

.comm-left-small {
  /* background-color: #fff; */
  background-color:rgba(255,255,255,0.9);

  padding: 0.3rem;
  border-radius: 0.3rem;
  border: 1px solid #eee;
  margin-bottom: 1rem;
}
.comm-box {
  background-color: rgba(255,255,255,0.9);
  margin-left: 0.5rem;
  padding: 0.3rem;
  border-radius: 0.3rem;
  border: 1px solid #eee;
}
.comm-main {
  padding-top: 0.5rem;
}

.list-title {
  font-size: 1.3rem;
  color: #1e90ff;
  padding: 0 0.5rem;
}
.list-context {
  color: #777;
  padding: 0.5rem;
}
.list-icon {
  padding: 0.5rem 0;
  color: #aaa;
}
.list-icon span {
  display: inline-block;
  padding: 0 10px;
}



@keyframes sunRise {  
  from {  
      top: 100vh; /* 初始位置在视口外部 */  
      background-color: #333; /* 深色背景 */  
  }  
  to {  
      top: 50px; /* 最终位置在顶部 */  
      background-color: #fff; /* 亮色背景 */  
  }  
}  

@keyframes sunSet {  
  from {  
      top: 50px;  
      background-color: #fff;  
  }  
  to {  
      top: 100vh;  
      background-color: #333;  
  }  
}  

.sun {  
  position: absolute;  
  left: 50%;  
  transform: translateX(-50%); /* 水平居中 */  
  width: 100px;  
  height: 100px;  
  border-radius: 50%;  
  animation-duration: 2s; /* 动画持续时间，可以根据需要调整 */  
  animation-timing-function: ease-in-out;  
  transition: all 0.5s ease-in-out; /* 过渡效果，用于颜色渐变 */  
}  

.day .sun {  
  animation-name: sunRise; /* 白天上升动画 */  
  background-color: #fff; /* 初始颜色为亮色 */  
}  

.night .sun {  
  animation-name: sunSet; /* 夜晚下落动画 */  
  background-color: #333; /* 初始颜色为深色 */  
}